doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Playtree
    link(rel="stylesheet" href="style.css")
  body
    .container
      if user
        .user(data-access-token=user.properties.accessToken)
          p
            img(src=user.properties.photos[0])
            = user.properties.displayName
          p
            a(href="logout") Sign out
      else
        
        a(href="auth" class="auth")
          img(src="log-in.svg" alt="Log in with spotfy")

      h1 playtree

      if tracks
        ol
          each track in tracks
            li
              h3= track.track.properties.uri
              p
                a(href=track.track._id)= track.track.properties.why
              h4.added added by #{track.user.properties.displayName}

        hr

      form(method="post" action="/"+action)

        label track (spotify uri)
          input(class="input" type="url" name="track" value="spotify:track:0nNiyH4NViNdsL0JJz5yce")

        label why
          textarea(rows="5" class="input" name="why") Chilled out song, good start to a playlist

        input(type="submit" value="create")

      if responseTracks && responseTracks.length
        hr
        h5 Responses
        ul
          each track in responseTracks
            li
              h3= track.track.properties.uri
              p
                a(href=track.track._id)= track.track.properties.why
              h4.added added by #{track.user.properties.displayName}
      script(src="site.js")
